
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para a coleção de tickets de suporte
    match /tickets/{ticketId} {
      allow read, write: if request.auth != null; // Permite que qualquer usuário autenticado crie/leia tickets. Ajuste se necessário.
    }

    // Regra para a coleção de usuários
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Regra para TODAS as subcoleções de uma empresa específica de um usuário
    match /users/{userId}/companies/{companyId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
